*{
    margin: 0;
    padding: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Montserrat', sans-serif;
    }

/*HEADER*/

.container{ 
width: 80%;
margin: auto;
height: 70px;
}

.header {
background: linear-gradient(45deg, #9ee674, #1ec1c4); /* DEIXAR O DEGRADÊ NO MENU*/
width: 100%;
}

.header h1 {
float: left; 
}

.titulo{
margin-top: 17px;
color: White;
}

.logo_turtle {
    margin: 0px 0px -60px -220px;
    height: 65px;
}

/* MENU */
.nav {
margin-top: 7px;
float: right;
}

.nav a {
text-decoration: none;
color: white;
}

.nav li {
display: inline-block;
padding: 10px 20px 0px 20px;
}

div#container{
display: flex;
flex-direction: row;
justify-content: right;
align-items: center;
background-color: white;
}

div#form{
    margin-right: 10%;
    width: 60%;
    padding: 39px 0px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#login{
    margin-bottom: 11px;
    margin-top: -4px;
    margin-left: 30%;
    font-family: 'Poppins', sans-serif; /*FONTE DA TELA DE LOGIN TIRADA DO GOOGLE FONTS*/
    font-size: 25px;
}

input{
    margin-top: 12px;
    padding: 10px;
    width: 88%;
    text-align: center;
}

#input_senha{
    margin-bottom: 10%;
}

#input_email{
    margin-bottom: 10%;
}

#btn{
    margin: 9px 15px 0px -3px;
    padding: 6px;
}

.btns a{
    text-decoration: none;
    color:white;
}


#btn-cadastro{
    margin: 10px 0px;
    margin-left: 50px;
    padding: 0;
}   

.btns{
    width: 140px;
    height: 29px;
    color: white;
    background: linear-gradient(45deg,#535993, #1ec1c4); /*DEGRADÊ DOS BOTÕES*/
    border: none;
    cursor: pointer; /*DEIXAR O CURSOR COM AQUELA MÃOZINHA QUANDO PASSA POR CIMA DOS BOTÕES*/
    border-radius: 5px; /*DEIXAR OS BOTÕES COM BORDA ARREDONDADA*/
}


#back-turtle{
    width: 80%;
}

#container-img{
    margin-left: -10%;
    transform: skew(-20deg); /*DEIXAR A IMAGEM NA DIAGONAL*/

}

/*RODPÉ*/

/* FOOTER */
.footer{
    height: 70px;
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    text-align: center;
    align-items: center;
    flex-direction: row;
    margin-top: -1.2%;
    }
    
    .footer h3 {
    color: white;   
    font-size: 14px;
    margin-left: 0;
    margin-top: 16px;
    padding-top: 2.5%;
    }