/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Montserrat', sans-serif;
    }

.container {
    width: 80%;
    margin: auto;
    height: 70px;

}

.icone {

    height: 50px;

}

.logo_turtle {
    margin: 0px 0px -60px -220px;
    height: 65px;
}

.container-corpo {
    width: 80%;
    margin: auto;
}

.traco_box {
    height: 3px;
    width: 20%;
    background: linear-gradient(45deg, #9ee674, #8eca18);
 
    margin: 15px 0px 13px 82px;
}

.traco {
    height: 3px;
    width:20%;
    background:linear-gradient(45deg, #9ee674, #8eca18);
    margin-top: 5px;
}

/* HEADER */
.header {
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    width: 100%;
    position: fixed;
    z-index: 0;
}

.header h1 {
    float: left;
}

.titulo{
    margin-top: 17px;
    color: White;
}

/* MENU */
.nav {
    margin-top: 7px;
    float: right;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav li {
    display: inline-block;
    padding: 10px 20px 0px 20px;
}
/* SHOWCASE */
.showcase {
    height: 700px;
    width: 100%;
    background-color: #1ec1c4;
    display:inline-block;
    background: linear-gradient(45deg, rgba(109, 217, 190, 0.1), rgba(30, 193, 192, 0.2)), url("img/banner.jpg") center top no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
#page{
  background-attachment: scroll;
}
.showcase h2 {
    font-size: 80px;
    color: white;
    padding-top: 75px;
    font-weight: 400;
    line-height: 56px;
    margin: 30px 0 10px 0;
}

.showcase p {
    font-size: 20px;
    color: white;
    padding-top: 20px;
}

/* SOBRE */

#sobre {
    height: 700px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-top: 30px;
}

#sobre h1 {
    font-weight: 100;
}

.divisor {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row; 
}


#sobre p {
    color:rgb(51, 51, 51);
    line-height: 2.5;
}

.p_small {
    line-height:0.9;
}

.logo{
    height:400px;
    width:50%;
    float:left;
}

.text-sobre-img{
    height:400px;
    width:50%;
    float:left;
    padding-top: 110px;
}

.text-sobre-empresa{
    color:#414040;
    font-size: 18px;
    text-decoration: none;
    display: flex;
}

/* PROJETO */
.projeto{
    overflow: hidden;
}

.projetotexto{
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content:center;
    align-items: center;
    margin-top: 10%;
}

.img-corpo{
    width: 550px;
    box-shadow: -4px 0px 10px black;
    z-index: -1;
    margin: -20px 0 0 0;
}

.img-corpo2{
    width: 535px;
    box-shadow: -4px 0px 10px black;
    z-index: -1;
    margin: -90px -100px -130px;
}

.img-corpo3{
    width: 500px;
    box-shadow: -4px 0px 10px black;
    z-index: -1;
    margin: -104px -165px -124px;
}

.projetotexto h1 {
    font-size: 30px;
}

.box-turtle{

    width: 100%;
    background-color:transparent;
    margin-top: 0%;
    overflow: auto;
}
.img-box-turtle{
    height:300px;
    width:35%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    float:left;
    margin-left: -1%;
}
.img-turtle-project{
    height:80%;
    width: 80%;
    margin: 550px 100px 10px 25px;
}

.text-box-turtle{
    width:65%;
    float:left;
    margin: 220px 0px 0px 0px;   
}

.text-box-turtle h2 {
    font-weight: 100;
}

.text-turtle1{
    float:left;
    width:50%;
    height: 100%;
}

.title-text{
    font-weight: initial;
    color:#1EC19D ;
        
}

.textturtle{
    font-weight: initial;
    color:#414040;
    font-size: 16px;
}

.text-turtle2{
    float:left;
    width:30%;
    height: 100%; 
    margin-left: 12%;
    text-align: justify;
}

.box1{
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: -183px 0px 0px -6px;
}

.sub-box1 {
    padding-top: 18%;
    width: 500px;
    margin: 9% 8% auto 5%;
}

.sub-box1 h1{
    text-align: center;
    margin-top: 20%;
}

.sub-box1 h4{
    text-align: center;
}

.sub-box1 p{
    text-align: justify;
}


h4{
    font-weight: initial;
    color:#414040;
}

.sub-box2{
    width:50%;
    background-color:transparent;
    float:left;
    margin-right: 20px;
    margin-top: 270px;
    margin-bottom: 15%;
}

.box2{
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-box3{
    width:50%;
    background-color:transparent;
    float:left;
    margin-left: 10%;
    opacity: 90%;
}

.sub-box4{
    width:500px;
    background-color:transparent;
    float:left;
    margin-right: 10%;
}

.sub-box4 h2{
    text-align: center,justify;
}
.sub-box4 h4{
    text-align: center;
}
.sub-box4 p{
    text-align: justify;
}

.box3{
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-box5{
    width:60%;
    background-color:transparent;
    float:left;
    margin: 120px 180px -65px 40px;
}

.sub-box6{
    width:50%;
    background-color: transparent;
    float: right;
    margin-left: 15%;
    opacity: 90%;
    margin-top: 25%;
}

.title-projeto{
    font-weight: initial;
    color:#414040;
}

#last-p{
    text-align: justify;
}
/* TIME */
#time{
    height: 600px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content:center;
    align-items: center;
    margin-top: 21px;
}
.box-time{
    width: 100%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}
.sub-box-time{
    height:75%;
    width:20%;
    margin-bottom: none;
    margin-right: 2%;
    float:left;
}


.equipe{
height: 515px;
margin: 0px 0px 0px 0px;

}
.img-time{
    height:75%;
    width:90%;
    margin-left:5%;
    border-radius:100%;
}

.aimg{
    height:100%;
    width:100%;
    border-radius:0%;
}

.time h1 {
    font-weight: initial;
    font-size: 80px;
}

/* CALCULADORA */

/*INICIO VALORES*/

.titulo-valores {
    font-size: 57px;
    color: black;
    font-weight: 100;
        margin: 35px 0 -7px;
}

.box {
    overflow: auto;
    margin-left:0;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    }
    
    .box .box-item {
        font-size: 22px;
        text-align: center;
        width: 205px;
        float: left;
        margin: 100px;
        color: #1EC19D;
    }
    
    .box img {
      height: 75px;
      margin-top: 15px;
    }
    
    /*FIM VALORES*/

/* FOOTER */
.footer{
    height: 70px;
    width: 113.76vw;;
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    text-align: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0%;
    margin-left: -15%;
    position: relative;
    }
    
    .footer h3 {
    color: white;   
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
    padding-top: 2.5%;
    }
    
