/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Montserrat', sans-serif;
    }

.container {
    width: 80%;
    margin: auto;
    height: 70px;
}

.container-corpo {
    width: 80%;
    margin: auto;
}

.traco {
    height: 3px;
    width:6%;
    background:linear-gradient(45deg, #9ee674, #8eca18);
    margin-top: 10px;
}

/* HEADER */
.header {
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    width: 100%;
}

.header h1 {
    float: left;
}

.titulo{
    margin-top: 17px;
    color: White;
}

/* MENU */
.nav {
    margin-top: 7px;
    float: right;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav li {
    display: inline-block;
    padding: 20px 20px 0px 20px;
}
/* SHOWCASE */
.showcase {
    height: 700px;
    width: 100%;
    background-color: #1ec1c4;
    display:inline-block;
    background: linear-gradient(45deg, rgba(109, 217, 190, 0.1), rgba(30, 193, 192, 0.2)), url("img/banner.jpg") center top no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
#page{
  background-attachment: scroll;
}
.showcase h2 {
    font-size: 80px;
    color: white;
    padding-top: 75px;
    font-weight: 400;
    line-height: 56px;
    margin: 30px 0 10px 0;
}

.showcase p {
    font-size: 20px;
    color: white;
    padding-top: 20px;
}

/* SOBRE */

#sobre {
    height: 700px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-top: 30px;
}

#sobre h1 {
    font-weight: 100;
}

.divisor {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row; 
}


#sobre p {
    color:rgb(51, 51, 51);
    line-height: 2.5;
}

.p_small {
    line-height:0.9;
}

.logo{
    height:400px;
    width:50%;
    float:left;
}

.text-sobre-img{
    height:400px;
    width:50%;
    float:left;
    padding-top: 110px;
}

.text-sobre-empresa{
    color:#414040;
    font-size: 18px;
    text-decoration: none;
    display: flex;
}

/* PROJETO */
#projeto{
    width: 100%;
    background-color: #fff;
}

.projetotexto{
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content:center;
    align-items: center;
    margin-top: 10%;
}

.img-corpo{
    width: 400px;
    box-shadow: -4px 0px 10px black;
}


.projetotexto h1 {
    font-size: 30px;
}

.box-turtle{
    /* height:350px; */
    width: 100%;
    background-color: white;
    margin-top: 5%;
    overflow: auto;
}
.img-box-turtle{
    height:300px;
    width:35%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    float:left;
    margin-left: -1%;
}
.img-turtle-project{
    height:80%;
    width: 80%;
}

.text-box-turtle{
    height:300px;
    width:65%;
    float:left;   
}

.text-box-turtle h2 {
    font-weight: 100;
}

.text-turtle1{
    float:left;
    width:50%;
    height: 100%;
}

.title-text{
    font-weight: initial;
    color:#414040;
        
}

.textturtle{
    font-weight: initial;
    color:#414040;
    font-size: 16px;
}

.text-turtle2{
    float:left;
    width:30%;
    height: 100%; 
    margin-left: 12%;
    text-align: justify;
}

.box1{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-box1 {
    padding-top: 15%;
    width: 500px;
    margin: 6% 15% auto 20%;
}

.sub-box1 h1{
    text-align: center;
    margin-top: 20%;
}

.sub-box1 h4{
    text-align: center;
}

.sub-box1 p{
    text-align: justify;
}


h4{
    font-weight: initial;
    color:#414040;
}

.sub-box2{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin-right: 20px;
    margin-top: 270px;
    margin-bottom: 15%;
}

.box2{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-box3{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin-left: 10%;
    opacity: 90%;
}

.sub-box4{
    height:90%;
    width:500px;
    background-color:transparent;
    float:left;
    margin-right: 10%;
}

.sub-box4 h2{
    text-align: center,justify;
}
.sub-box4 h4{
    text-align: center;
}
.sub-box4 p{
    text-align: justify;
}

.box3{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sub-box5{
    height:90%;
    width:60%;
    background-color:transparent;
    float:left;
   margin-left: 10%;
    margin-top: 25%;
}

.sub-box6{
    height:90%;
    width:50%;
    background-color: transparent;
    float: right;
    margin-left: 15%;
    opacity: 90%;
    margin-top: 25%;
}

.title-projeto{
    font-weight: initial;
    color:#414040;
}

#last-p{
    text-align: justify;
}
/* TIME */
#time{
    height: 600px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content:center;
    align-items: center;
    margin-top: 21px;
}
.box-time{
    height:50%;
    width: 100%;
    background-color:#1ec1c4;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}
.sub-box-time{
    height:75%;
    width:20%;
    margin-bottom: none;
    margin-right: 2%;
    background-color:#d34232;
    float:left;
}

.img-time{
    height:75%;
    width:90%;
    margin-left:5%;
    background-color: pink;
    border-radius:50%;
}

.aimg{
    height:100%;
    width:100%;
    border-radius:45%;
}

.time h1 {
    font-weight: initial;
    font-size: 80px;
}

/* CALCULADORA */

/* FOOTER */
.footer{
    height: 100px;
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    margin-top: 10%;
    text-align: center;
}

.footer h3 {
    color: white;
    padding-top: 42px;
    font-weight: 100;
}