html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Montserrat', sans-serif;
    }
/* menu */
header{
    width: 100%;
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 999;
}
#menu{
    height: 55px;
}
#header.header-transparent {
    background: transparent;
  }
  
  #header.header-fixed {
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    opacity: 0;
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  .header-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    transform: scaleX(1);
  }
  /* lista do menu */
ul{
    list-style: none;
    margin:0;
    padding: 0;
}
li.link-menu{
    float:left;
    position: relative;
    white-space: nowrap;
    color:white;
    font-size:16px;
    left:60%;
    margin-right: 12px;
    text-decoration: none;
}
a{
    color:white;
    padding:0;
    display:block;
    font-size:18px;
    width:100%;
    transition: 0.5s;
    text-decoration: none;
    font-weight: lighter;
    color: #000;
}
/* section da home */
#home{
    height: 800px;
    width: 100%;
    background-color: #1ec1c4;
    display:inline-block;
    background: linear-gradient(45deg, rgba(109, 217, 190, 0.1), rgba(30, 193, 192, 0.2)), url("../img/banner.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    
}
#text h2{
    
    font-size:75px; 
}
#text p{
    font-size:20px;
}
#intro h2 {
    margin: 30px 0 10px 0;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color:transparent;
  }

  /* section do sobre   */
#sobre{
    height: 700px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
#sobre_divisor{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row; 
}
i{
    color:rgb(51, 51, 51);
    line-height:0.5;
}
p .p_small{
    line-height:0.9;
}
#text_sobre{
    font-weight: initial;
}
#traco{
    height: 3px;
    width:6%;
    background:linear-gradient(45deg, #9ee674, #8eca18);
}
#logo{
    height:400px;
    width:50%;
    float:left;
}
#text-sobre-img{
    height:400px;
    width:50%;
    float:left;
}
.text-sobre-empresa{
    color:#414040;
    font-size: 18px;
}

#text_title{
    font-weight:initial;
}

/* section do projeto */
#projeto{
    height: 2000px;
    width: 100%;
    background-color: #fff;
}
#box-turtle{
    height:350px;
    width: 100%;
    background-color: white;
}
#img-box-turtle{
    height:300px;
    width:35%;
    background-color: white;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    float:left;
}
#img-turtle-project{
    height:80%;
    width: 80%;
}
#text-box-turtle{
    height:300px;
    width:65%;
    float:left;
}
#text-turtle1{
    float:left;
    width:50%;
    height: 100%;
}
#text-turtle2{
    float:left;
    width:50%;
    height: 100%;
    
}
 .title-text{
    font-weight: initial;
    color:#414040;
        
}
.textturtle{
    font-weight: initial;
    color:#414040;
    font-size: 16px;
}
.box1{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.box2{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.box3{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
#sub-box1{
    height:90%;
    width:50%;
    background-color:#fff;
    float:left;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-23%);
    
}
#sub-box1 h2{
    text-align: center;
    margin-top: 20%;
}
#sub-box1 h4{
    text-align: center;
}
#sub-box1 p{
    text-align: justify;
}
#sub-box2{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin-right: 20px;
    margin-top: 270px;
}
#sub-box3{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin-left: 20px;
    opacity: 90%;
   
}
#sub-box4{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-10%);
}
#sub-box4 h2{
    text-align: center,justify;
}
#sub-box4 h4{
    text-align: center;
}
#sub-box4 p{
    text-align: justify;
}
#sub-box5{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-40%);
}
#sub-box6{
    height:90%;
    width:50%;
    background-color: transparent;
    float:left;
    margin-left: 20px;
    opacity: 90%;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-40%);
}

#sub-box5 h4{
    text-align: center;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-10%);
    background-color: transparent;
}
h4{
    font-weight: initial;
    color:#414040;
}
#title-projeto{
    font-weight: initial;
    color:#414040;
}
/* section do time */
#time{
    height: 600px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    margin-top: 21px;
}
.box-time{
    height:50%;
    width: 100%;
    background-color:#1ec1c4;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    
    
}
.sub-box-time{
    height:75%;
    width:20%;
    margin-bottom: none;
    margin-right: 2%;
    background-color:#d34232;
    float:left;

}
.img-time{
    height:75%;
    width:90%;
    margin-left:5%;
    background-color: pink;
    border-radius:50%;

}
.aimg{
    height:100%;
    width:100%;
    border-radius:45%;
}
/* section calculadora */
#calculadora{
    height: 400px;
    width: 100%;
    background-color: darkseagreen;
    display:inline-block;
    margin-top: 30px;
}
h1{
    text-align: center;
    margin: 100px;
    font-weight: initial;
    padding: 0;
}
footer{
    background-color:black;
    width:100%;
    height:70px;
    color:white;
}



html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
}
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Montserrat', sans-serif;
    }
/* menu */
header{
    width: 100%;
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 999;
}
#menu{
    height: 55px;
}
#header.header-transparent {
    background: transparent;
  }
  
  #header.header-fixed {
    background: linear-gradient(45deg, #9ee674, #1ec1c4);
    opacity: 0;
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  .header-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    transform: scaleX(1);
  }
  /* lista do menu */
ul{
    list-style: none;
    margin:0;
    padding: 0;
}
li.link-menu{
    float:left;
    position: relative;
    white-space: nowrap;
    color:white;
    font-size:16px;
    left:60%;
    margin-right: 12px;
    text-decoration: none;
}
a{
    color:white;
    padding:0;
    display:block;
    font-size:18px;
    width:100%;
    transition: 0.5s;
    text-decoration: none;
    font-weight: lighter;
    color: #000;
}
/* section da home */
#home{
    height: 700px;
    width: 100%;
    background-color: #1ec1c4;
    display:inline-block;
    background: linear-gradient(45deg, rgba(109, 217, 190, 0.1), rgba(30, 193, 192, 0.2)), url("../img/banner.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    
}
h2{
    font-size:2px; 
}
p{
    font-size:19px;
}
#intro h2 {
    margin: 30px 0 10px 0;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color:transparent;
  }

  /* section do sobre   */
#sobre{
    height: 700px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
#sobre_divisor{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row; 
}
i{
    color:rgb(51, 51, 51);
    line-height:0.5;
}
p .p_small{
    line-height:0.9;
}
#text_sobre{
    font-weight: initial;
}
#traco{
    height: 3px;
    width:6%;
    background:linear-gradient(45deg, #9ee674, #8eca18);
}
#logo{
    height:60%;
    width:50%;
    float:left;
}
#text-sobre-img{
    height:400px;
    width:50%;
    float:left;
    text-align: justify;
    margin: -20px;
    margin-top: 50px;
}
.text-sobre-empresa{
    color:#414040;
    font-size: 18px;
}

#text_title{
    font-weight:initial;
}

/* section do projeto */
#projeto{
    height: 2000px;
    width: 100%;
    background-color: #fff;
}
#box-turtle{
    height:350px;
    width: 100%;
    background-color: white;
}
#img-box-turtle{
    height:300px;
    width:35%;
    background-color: white;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    float:left;
}
#img-turtle-project{
    height:60%;
    width: 80%;
}
#text-box-turtle{
    height:300px;
    width:65%;
    float:left;
}
#text-turtle1{
    float:left;
    width:50%;
    height: 100%;
    text-align: justify;

}
#text-turtle2{
    float:left;
    width:50%;
    height: 100%;

    
}
 .title-text{
    font-weight: initial;
    color:#414040;
    margin: 20px;
        
}
.textturtle{
    font-weight: initial;
    color:#414040;
    font-size: 16px;
}
.box1{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.box2{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.box3{
    height:30%;
    width: 100%;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}
#sub-box1{
    height:90%;
    width:50%;
    background-color:#fff;
    float:left;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-23%);
    
}
#sub-box1 h2{
    text-align: center;
    margin-top: 20%;
}
#sub-box1 h4{
    text-align: center;
}
#sub-box1 p{
    text-align: justify;
}
#sub-box2{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin-right: 20px;
    margin-top: 270px;
}
#sub-box3{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin-left: 20px;
    opacity: 90%;
   
}
#sub-box4{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-10%);
}
#sub-box4 h2{
    text-align: center,justify;
}
#sub-box4 h4{
    text-align: center;
}
#sub-box4 p{
    text-align: justify;
}
#sub-box5{
    height:90%;
    width:50%;
    background-color:transparent;
    float:left;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-40%);
}
#sub-box6{
    height:90%;
    width:50%;
    background-color: transparent;
    float:left;
    margin-left: 20px;
    opacity: 90%;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-40%);
}

#sub-box5 h4{
    text-align: center;
    margin: 20px;
    margin-top: 25%;
    transform: translate(0%,-10%);
    background-color: transparent;
}
h4{
    font-weight: initial;
    color:#414040;
}
#title-projeto{
    font-weight: initial;
    color:#414040;
}
/* section do time */
#time{
    height: 600px;
    width: 100%;
    background-color:transparent;
    display:inline-block;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    margin-top: 21px;
}
.box-time{
    height:50%;
    width: 100%;
    background-color:transparent;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    
    
}
.sub-box-time{
    height:75%;
    width:20%;
    margin-bottom: none;
    margin-right: 2%;
    background-color:transparent;
    float:left;

}
.img-time{
    height:200px;
    width:90%;
    margin-left:5%;
    background-color: pink;
 

}
.aimg{
    height:100%;
    width:100%;
    border-radius:5%;
}
/* section calculadora */
#calculadora{
    height: 400px;
    width: 100%;
    background-color: darkseagreen;
    display:inline-block;
    margin-top: 50px;
}
h1{
    text-align: center;
    margin: 100px;
    font-weight: initial;
    padding: 0;
}
footer{
    background-color:black;
    width:100%;
    height:70px;
    color:white;
}



